# Exercise 8: Data Cleaning and Analysis

Welcome to Exercise 8!

This exercise is a more free-form challenge than the previous ones you have completed. What I would like you to do is to demonstrate some of what you have learned in the previous exercises with another dataset.

<img src="images/london2012.gif"/>

First, by running the cell below we can display a sample of 25 rows from a CSV file containing records about athletes who competed in the London 2012 Olympics. This is a data set produced summarizing data prepared by the Guardian newspaper originally found [here](https://docs.google.com/spreadsheets/d/1CKSOQcrPDhxniv-V1FVFAo2rVXrguBCOFAsGZ_IwPJo/edit#gid=0).

In [1]:
import pandas as pd
pd.read_csv('https://raw.githubusercontent.com/djcomlab/olympics-graphs/master/london2012-olympics-v3.csv').sample(25)

,Name,Country,Age,Height (cm),Weight (kg),Sex,Date of birth,Sport,Event,Medal winner?,Gold,Silver,Bronze
2713,Ella Gunson,New Zealand,23,162.0,62.0,F,07/09/1989,Hockey,Women's Hockey,NaN,NaN,NaN,NaN
8832,Sideris Tasiadis,Germany,22,179.0,79.0,M,05/07/1990,Canoe Slalom,Men's Canoe Single (C1),YES,NaN,1,NaN
8544,Sasa Golob,Slovenia,20,160.0,NaN,F,8/17/1991,Gymnastics - Artistic,Women's Qualification,NaN,NaN,NaN,NaN
3881,Imogen Bankier,Great Britain,24,167.0,65.0,F,11/18/1987,Badminton,Mixed Doubles,NaN,NaN,NaN,NaN
10136,Yevgeniy Ektov,Kazakhstan,25,187.0,75.0,M,09/01/1986,Athletics,Men's Triple Jump,NaN,NaN,NaN,NaN
5228,Klodiana Shala,Albania,32,NaN,NaN,F,8/22/1979,Athletics,Women's 200m,NaN,NaN,NaN,NaN
922,Anolyn Lulu,Vanuatu,33,157.0,62.0,F,01/03/1979,Table Tennis,Women's Singles,NaN,NaN,NaN,NaN
3213,Gabriel Melconian Alvez,Uruguay,25,182.0,74.0,M,07/07/1987,Swimming,Men's 100m Freestyle,NaN,NaN,NaN,NaN
2570,Edzus Treimanis,Latvia,24,182.0,80.0,M,4/21/1988,Cycling - BMX,Men's BMX,NaN,NaN,NaN,NaN
9358,Thais Duarte Guedes,Brazil,19,164.0,60.0,F,1/20/1993,Football,Women's Football,NaN,NaN,NaN,NaN
3649,Henri Ndong,Gabon,19,156.0,80.0,M,8/23/1992,Football,Men's Football,NaN,NaN,NaN,NaN
9449,Tim Veldt,Netherlands,28,186.0,78.0,M,2/14/1984,Cycling - Track,Men's Team Pursuit,NaN,NaN,NaN,NaN
4409,Jessica Rossi,Italy,20,168.0,57.0,F,01/07/1992,Shooting,Women's Trap,YES,1,NaN,NaN
7748,Pieter-Jan Postma,Netherlands,30,189.0,102.0,M,01/10/1982,Sailing,Men's Finn,NaN,NaN,NaN,NaN
9257,Tamsin Hinchley,Australia,32,193.0,74.0,F,03/10/1980,Beach Volleyball,Women's Beach Volleyball,NaN,NaN,NaN,NaN
5300,Kristyna Palesova,Czech Republic,21,158.0,NaN,F,2/22/1991,Gymnastics - Artistic,Women's Qualification,NaN,NaN,NaN,NaN
1962,Courtney Carl Williams,St Vincent and the Grenadines,21,183.0,82.0,M,1/31/1991,Athletics,Men's 100m,NaN,NaN,NaN,NaN
561,Amit Kumar,India,18,NaN,NaN,M,12/15/1993,Wrestling,Men's 55kg Freestyle,NaN,NaN,NaN,NaN
9773,Viktor Leptikov,Kazakhstan,25,196.0,80.0,M,07/02/1987,Athletics,Men's 400m Hurdles,NaN,NaN,NaN,NaN
9095,Storm Uru,New Zealand,27,190.0,72.0,M,2/14/1985,Rowing,Men's Lightweight Double Sculls,YES,NaN,NaN,0.5
6491,Mc Kayla Maroney,United States of America,16,160.0,NaN,F,12/09/1995,Gymnastics - Artistic,Women's Team; Women's Qualification,YES,0.2,1,NaN
8137,Roberto Pavoni,Great Britain,21,176.0,71.0,M,3/22/1991,Swimming,Men's 200m Butterfly; Men's 400m Individual Me...,NaN,NaN,NaN,NaN
829,Ankita Das,India,19,NaN,NaN,F,7/17/1993,Table Tennis,Women's Singles,NaN,NaN,NaN,NaN
6685,Mike Bryan,United States of America,34,191.0,84.0,M,4/29/1978,Tennis,Men's Doubles; Mixed Doubles,YES,0.5,NaN,0.5
5823,Lynne Beattie,Great Britain,26,182.0,65.0,F,12/23/1985,Volleyball,Women's Volleyball,NaN,NaN,NaN,NaN

## The Challenge

By adding your own code in your own Jupyter Notebook cells below (you can add a cell by pressing the `+` button in the toolbar), try and answer some of the following questions about this data set:
* How many rows are in this data set?
* Apply some filtering to remove rows that might be incomplete or have errors. How many rows remain after your filters are applied?
* How many atheletes are in the data set?
* Which athlete competed in the most events?
* How many countries are present in the data set?
* Which country fielded the most athletes?
* Produce a medals table showing which countries gained the most of Gold, Silver and Bronze medals.
* What is the average age, height, and weight for each country's olympic teams?
* As per last question, but by Male and Female athletes.
* Finally, calculate the [Body Mass Index (BMI)](https://en.wikipedia.org/wiki/Body_mass_index) for each athlete in the data set, and display the top 10 rows for male athletes, and again for female athletes.

If you comfortably work out answers for all of these, feel free to add your own analyses!

When you are finished:

If you are running this notebook using Binder, choose **Save and Checkpoint** from the **File** menu, **rename** your notebook to add a hyphen and your initials to the notebook name e.g. `Ex08_Data_Cleaning_and_Analysis-DJ`, then choose **Download as Notebook** and save it to your computer or USB stick.

If you are running this notebook on your own machine, choose **Save and Checkpoint** from the **File** menu, choose **Make a copy** from the **File** menu, then **rename** your notebook to add a hyphen and your initials to the notebook name e.g. rename from `Ex08_Data_Cleaning_and_Analysis-Copy1` to `Ex08_Data_Cleaning_and_Analysis-DJ`.

<sup>Copyright © David Johnson, 2018. This notebook is provided for use with permission for the Hilary Term 2019 University of Oxford course "Programming for Data Science".</sup>